﻿@model kfubankmvc.ViewModels.LoginViewModel
<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
        <h2>Вход в приложение</h2>
        <form method="post" asp-controller="Auth" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label><br />
                <input asp-for="RememberMe" />
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </form>
