﻿@model kfubankmvc.ViewModels.Card2CardViewModel

<div>
	<h2>Перевод с карты на карту</h2>
  
	<form method="post" asp-controller="Account" asp-action="Card2Card">
		<div asp-validation-summary="ModelOnly"></div>
		<div>
			<label asp-for="CardFrom"></label><br/>
			<select asp-for="CardFrom" asp-items="Model.CardsItems"></select> 
			<span asp-validation-for="CardFrom"></span>

		</div>
		<div>
			<label asp-for="CardTo"></label><br />
			<input asp-for="CardTo" />
			<span asp-validation-for="CardTo"></span>
		</div>
		<div>
			<label asp-for="Sum"></label><br />
			<input asp-for="Sum" />
		</div>
		<div>
			<input type="submit" value="Перевести" />
		</div>
	</form>
</div>
