﻿@model kfubankmvc.ViewModels.Card2VkladViewModel

<div>
	<h2>Перевод с карты на вклад</h2>

	<form method="post" asp-controller="Account" asp-action="Card2Vklad">
		<div asp-validation-summary="ModelOnly"></div>
		<div>
			<label asp-for="CardFrom"></label><br/>
			<select asp-for="CardFrom" asp-items="Model.CardsItems"></select> 
			<span asp-validation-for="CardFrom"></span>
		</div>
        <div>
            <label asp-for="DepositTo"></label><br />
            <select asp-for="DepositTo" asp-items="Model.VkladsItem"></select>
            <span asp-validation-for="DepositTo"></span>
        </div>
		<div>
			<label asp-for="Sum"></label><br />
			<input asp-for="Sum" />
		</div>
		<div>
			<input type="submit" value="Перевести" />
		</div>
	</form>
</div>
