﻿<h3>Мои транзакции</h3>
<table class="table">
    <tr>
        <th>Дата</th>
        <th>Со счета</th>
        <th>На счет</th>
        <th>Сумма</th>
    </tr>
@foreach(Transaction t in ViewBag.Transactions)
{
    <tr>
        <td>@t.date</td>
        <td>@t.accountFromId</td>
        <td>@t.accountToId</td>
        <td>@t.Amount</td>        
    </tr>
}

</table>
