﻿<div>
	<h2>Личный кабинет</h2>

	<div class="row">
		<div class="col-md-6">
			<h4>Здесь вы можете: </h4>

			<ul>
				<li>
					<a asp-area="" asp-controller="Account" asp-action="Card2Card" class="nav-link">Перевести деньги с карты на карту</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Account" asp-action="Card2Vklad" class="nav-link">Перевести деньги с карты на вклад</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Account" asp-action="ShowCards" class="nav-link">Посмотреть карты</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Account" asp-action="ShowVklads" class="nav-link">Посмотреть вклады</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Account" asp-action="TopUpMobile" class="nav-link">Пополнить мобильный</a>
				</li>
			</ul>
		</div>
	</div>
</div>