﻿@model kfubankmvc.ViewModels.Card2VkladViewModel

<div>
	<h2>Ваши вклады</h2>
 
	<form method="post" asp-controller="Account" asp-action="ShowVklads">
		<div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="DepositTo"></label><br />
            <select asp-for="DepositTo" asp-items="Model.VkladsItem"></select>
            <span asp-validation-for="DepositTo"></span>
        </div>
	</form>
</div>
