﻿<h3>Компании</h3>
<ul>
    @foreach (var company in ViewBag.Companies)
    {
        <li>
            <a href="/Account/Transaction?id=@company.checkingAccountId"><img src="~/css/Images/Companies/@company.Logo" /></a>
            @company.Name
        </li>
    }
</ul>