﻿@model kfubankmvc.ViewModels.Card2CardViewModel

<div>
    <h2>Ваши карты</h2>
    <form method="post" asp-controller="Account" asp-action="Showcards">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="CardFrom"></label><br />
            <select asp-for="CardFrom" asp-items="Model.CardsItems"></select>
            <span asp-validation-for="CardFrom"></span>
        </div>

    </form>
</div>


