﻿@model kfubankmvc.ViewModels.TopUpMobileViewModel
@{
    ViewData["Title"] = "Пополнение";
}
<form method="post" asp-controller="Account" asp-action="TopUpMobile">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="PhoneNumber"></label><br />
        <input type="number" asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Amount"></label><br />
        <input type="number" asp-for="Amount" />
        <span asp-validation-for="Amount"></span>
    </div>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>