﻿<h2>Контакты</h2>

<p>Ректор КФУ</p>
<p>Гафуров Ильшат Рафкатович</p>
<p>Адрес: г. Казань, ул. Кремлевская 18, Главное здание КФУ, 420008</p>
<p>Телефон: (843) 2926977</p>
<p>Факс: (843) 2924448</p>
<p>E-mail: public.mail@kpfu.ru
</p>