﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center" style="background: url(image/kfu.jpg) no-repeat;">
  <div class="container">
    <br/>
    <h1 class="jumbotron-heading"><b>ОНЛАЙН-БАНК ДЛЯ СТУДЕНТА</b></h1>
    <span class="badge badge-light badge-md">Стипендия. Соц. поддержка. Оплата за общежитие</span>
    <br/>
    <br/>
    <p>
      <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-primary">О нас</a>
      <a asp-area="" asp-controller="Home" asp-action="Office" class="btn btn-secondary">Офисы</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div>
      <div class="row">
        <div class="card border-primary col-md-4" style="max-width: 20rem;">
          <div class="card-header">Перевод денег с карты на карту</div>
          <div class="card-body">
            <h4 class="card-title">Очень просто</h4>
          </div>
        </div>
        <div class="card border-success col-md-4" style="max-width: 20rem;">
          <div class="card-header">Открытие вклада</div>
          <div class="card-body">
            <h4 class="card-title">О да</h4>
          </div>
        </div>
        <div class="card border-danger col-md-4" style="max-width: 20rem;">
          <div class="card-header">Перевод денег на свой вклад</div>
          <div class="card-body">
            <h4 class="card-title">Довольно быстро</h4>
          </div>
        </div>
        <div class="col-md-4">
          <p class="card-text"></p>
        </div>
      </div>

      <div class="row">
        <div class="card border-info col-md-4" style="max-width: 20rem;">
          <div class="card-header">Пополнение счета мобильной связи</div>
          <div class="card-body">
            <h4 class="card-title">Поговорим?</h4>
          </div>
        </div>
        <div class="card border-warning col-md-4" style="max-width: 20rem;">
          <div class="card-header">Пополнение Интернета и ТВ. Квартплата.</div>
          <div class="card-body">
            <h4 class="card-title">Плати плати плати</h4>
          </div>
        </div>
        <div class="card border-secondary col-md-4" style="max-width: 20rem;">
          <div class="card-header">Кредит?</div>
          <div class="card-body">
            <h4 class="card-title">да, кредит</h4>
          </div>
        </div>
        <div class="col-md-4">
          <p class="card-text"></p>
        </div>
      </div>

    </div>

  </div>
</div>